{
  "openapi": "3.1.0",
  "info": {
    "title": "API列表",
    "description": "已发布的API列表",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://data-api.investoday.net/data",
      "description": ""
    }
  ],
  "paths": {
    "/trade-calender/special-date": {
      "get": {
        "tags": [
          "交易日历衍生"
        ],
        "summary": "交易日历衍生",
        "description": "根据指定交易日期，返回A股市场相关的交易日衍生日期，包括前后N个交易日、近一周、近一月、近一年、以及当前周/月/年的首尾交易日，便于大模型进行时间维度的数据分析和策略计算。返回日期统一为yyyy-MM-dd HH:mm:ss格式。\n上述时间范围均以指定的tradeDate作为基准日期推算得出。",
        "operationId": "get_trade_special_date",
        "parameters": [
          {
            "name": "tradeDate",
            "in": "query",
            "description": "交易日期(格式yyyy-MM-dd)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-05-19"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "pubDate": {
                      "type": "string",
                      "description": "基准日期(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-19 00:00:00"
                    },
                    "before1Day": {
                      "type": "string",
                      "description": "上一个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-16 00:00:00"
                    },
                    "before2Day": {
                      "type": "string",
                      "description": "前2个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-15 00:00:00"
                    },
                    "before3Day": {
                      "type": "string",
                      "description": "前3个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-14 00:00:00"
                    },
                    "before4Day": {
                      "type": "string",
                      "description": "前4个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-13 00:00:00"
                    },
                    "before1Week": {
                      "type": "string",
                      "description": "1周前交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-12 00:00:00"
                    },
                    "before2Week": {
                      "type": "string",
                      "description": "2周前交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-04-30 00:00:00"
                    },
                    "before1Month": {
                      "type": "string",
                      "description": "1月前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-04-18 00:00:00"
                    },
                    "before2Month": {
                      "type": "string",
                      "description": "2月前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-03-19 00:00:00"
                    },
                    "before3Month": {
                      "type": "string",
                      "description": "3月前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-02-19 00:00:00"
                    },
                    "before6Month": {
                      "type": "string",
                      "description": "6月前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2024-11-19 00:00:00"
                    },
                    "before1Year": {
                      "type": "string",
                      "description": "1年前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2024-05-17 00:00:00"
                    },
                    "before2Year": {
                      "type": "string",
                      "description": "2年前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2023-05-19 00:00:00"
                    },
                    "before3Year": {
                      "type": "string",
                      "description": "3年前首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2022-05-19 00:00:00"
                    },
                    "firstCtWeek": {
                      "type": "string",
                      "description": "本周首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-19 00:00:00"
                    },
                    "lastCtWeek": {
                      "type": "string",
                      "description": "本周最后交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-23 00:00:00"
                    },
                    "firstCtMonth": {
                      "type": "string",
                      "description": "本月首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-06 00:00:00"
                    },
                    "lastCtMonth": {
                      "type": "string",
                      "description": "本月最后交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-30 00:00:00"
                    },
                    "firstCtYear": {
                      "type": "string",
                      "description": "本年首个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-01-02 00:00:00"
                    },
                    "lastCtYear": {
                      "type": "string",
                      "description": "本年最后交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-12-31 00:00:00"
                    },
                    "after1Day": {
                      "type": "string",
                      "description": "后1个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-20 00:00:00"
                    },
                    "after2Day": {
                      "type": "string",
                      "description": "后2个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-21 00:00:00"
                    },
                    "after3Day": {
                      "type": "string",
                      "description": "后3个交易日(格式yyyy-MM-dd HH:mm:ss)",
                      "example": "2025-05-22 00:00:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/stock/concept-classifications": {
      "get": {
        "tags": [
          "股票所属概念"
        ],
        "summary": "股票所属概念",
        "description": "股票所属概念",
        "operationId": "list_stock_concept_classifications",
        "parameters": [
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "000001"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "开始日期（格式yyyy-MM-dd）。\n最小值:2020-01-01;",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束日期（格式yyyy-MM-dd）",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-01-01"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码。\n最小值:1;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页长。\n最小值:1;\n最大值:500;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "stockCode": {
                      "type": "string",
                      "description": "股票代码",
                      "example": "000001"
                    },
                    "stockName": {
                      "type": "string",
                      "description": "股票名称",
                      "example": "平安银行"
                    },
                    "conceptCode": {
                      "type": "string",
                      "description": "概念代码",
                      "example": "15030008"
                    },
                    "conceptName": {
                      "type": "string",
                      "description": "概念名称",
                      "example": "人工智能"
                    },
                    "description": {
                      "type": "string",
                      "description": "说明",
                      "example": "人工智能概念是指涉及人工智能技术研发、应用或相关业务的公司集合"
                    },
                    "selectionDate": {
                      "type": "string",
                      "description": "入选日期",
                      "example": "2023-01-15"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/stock/company/profiles": {
      "get": {
        "tags": [
          "股票所属公司的基本信息"
        ],
        "summary": "股票所属公司的基本信息",
        "description": "通过股票代码查询股票所属公司的基本信息，包括公司代码、股票代码、股票名称、公司全称、简称、中英文名称、注册信息、注册资本、主营业务、联系方式、办公及注册地址、公司网址等详细信息，适用于获取上市公司基础信息进行投资分析或公司研究。",
        "operationId": "get_company_profiles",
        "parameters": [
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "000001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "stockCode": {
                      "type": "string",
                      "description": "股票代码",
                      "example": "601158"
                    },
                    "stockName": {
                      "type": "string",
                      "description": "股票名称",
                      "example": "重庆水务"
                    },
                    "companyCode": {
                      "type": "string",
                      "description": "公司代码",
                      "example": "BS120503"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "中文全称",
                      "example": "重庆水务集团股份有限公司"
                    },
                    "companyNameAbbr": {
                      "type": "string",
                      "description": "中文简称",
                      "example": "重庆水务"
                    },
                    "companyNamePinyin": {
                      "type": "string",
                      "description": "拼音简称",
                      "example": "CQSW"
                    },
                    "companyNameEn": {
                      "type": "string",
                      "description": "英文全称",
                      "example": "Chongqing Water Group Co.,Ltd."
                    },
                    "companyNameEnAbbr": {
                      "type": "string",
                      "description": "英文简称",
                      "example": "Chongqing Water"
                    },
                    "firstRegistrationDate": {
                      "type": "string",
                      "description": "首次注册登记日期",
                      "example": "2001-01-11 00:00:00"
                    },
                    "establishDate": {
                      "type": "string",
                      "description": "变更设立日期",
                      "example": "2023-08-15"
                    },
                    "firstRegistrationLocation": {
                      "type": "string",
                      "description": "首次注册登记地点",
                      "example": "北京市海淀区"
                    },
                    "businessLicenseNo": {
                      "type": "string",
                      "description": "企业法人营业执照注册号",
                      "example": "91310000779777577T"
                    },
                    "taxRegistrationNo": {
                      "type": "string",
                      "description": "税务登记号",
                      "example": "91310000717825856T"
                    },
                    "registeredCapital": {
                      "type": "number",
                      "description": "注册资本",
                      "example": 4800022456
                    },
                    "mainBusiness": {
                      "type": "string",
                      "description": "主营业务",
                      "example": "从事城镇给排水项目的投资、经营及建设管理;从事城镇给排水相关市政基础设施项目建设、运营及管理;给排水设备制造、安装及维护;给排水工程设计及技术咨询服务;水环境综合治理。(依法须经批准的项目,经相关部门批准后方可开展经营活动)"
                    },
                    "otherBusiness": {
                      "type": "string",
                      "description": "兼营业务",
                      "example": "代理记账"
                    },
                    "contactPerson1": {
                      "type": "string",
                      "description": "联系人1",
                      "example": "郭剑"
                    },
                    "contactPerson2": {
                      "type": "string",
                      "description": "联系人2",
                      "example": "李经理"
                    },
                    "contactPhone1": {
                      "type": "string",
                      "description": "联系电话1",
                      "example": "023-63860827"
                    },
                    "contactPhone2": {
                      "type": "string",
                      "description": "联系电话2",
                      "example": "13800138001"
                    },
                    "contactFax1": {
                      "type": "string",
                      "description": "联系传真1",
                      "example": "+86-10-87654321"
                    },
                    "contactFax2": {
                      "type": "string",
                      "description": "联系传真2",
                      "example": "+86-21-56781234"
                    },
                    "officeAddress": {
                      "type": "string",
                      "description": "办公地址",
                      "example": "中国重庆市渝中区龙家湾1号"
                    },
                    "officeAddressZip": {
                      "type": "string",
                      "description": "办公地址邮编",
                      "example": "100020"
                    },
                    "registeredAddress": {
                      "type": "string",
                      "description": "注册地址",
                      "example": "中国重庆市渝中区龙家湾1号"
                    },
                    "registeredAddressZip": {
                      "type": "string",
                      "description": "注册地址邮编",
                      "example": "400015"
                    },
                    "contactAddress": {
                      "type": "string",
                      "description": "联系地址",
                      "example": "中国重庆市渝中区龙家湾1号"
                    },
                    "contactAddressZip": {
                      "type": "string",
                      "description": "联系地址邮编",
                      "example": "400015"
                    },
                    "email": {
                      "type": "string",
                      "description": "电子邮箱",
                      "example": "swjtdsb@cqswjt.com"
                    },
                    "website": {
                      "type": "string",
                      "description": "公司网址",
                      "example": "http://www.cncqsw.com"
                    },
                    "relatedWebsite": {
                      "type": "string",
                      "description": "关联网址",
                      "example": "https://www.example.com/product/12345"
                    },
                    "businessSummary": {
                      "type": "string",
                      "description": "业务简介",
                      "example": "公司是重庆市最大的供排水一体化企业，供排水业务在重庆市主城区的市场占有率分别达到66%、72%。公司拥有污水处理厂36个，污水业务在重庆市域占有绝对领先份额，污水处理能力为168.30万立方米/天，服务区域为755.20平方公里，服务人口达891.30万人，处于垄断地位。"
                    },
                    "companyLogo": {
                      "type": "string",
                      "description": "企业LOGO（带文字）",
                      "example": "JPG"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/index/quotes": {
      "get": {
        "tags": [
          "指数历史日行情"
        ],
        "summary": "指数历史日行情",
        "description": "通过指数代码和日期范围查询指数的历史日行情数据，包括开盘价、最高价、最低价、收盘价、成交量、成交金额等核心指标，适用于市场分析和指数表现追踪。",
        "operationId": "list_index_quotes",
        "parameters": [
          {
            "name": "indexCode",
            "in": "query",
            "description": "指数代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "000300"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "开始日期（格式yyyy-MM-dd）。\n最小值:2020-01-01;",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束日期（格式yyyy-MM-dd）",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025-01-01"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码。\n最小值:1;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页长。\n最小值:1;\n最大值:500;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "date": {
                      "type": "string",
                      "description": "发布日期",
                      "example": "2015-05-26 00:00:00"
                    },
                    "indexCode": {
                      "type": "string",
                      "description": "指数代码",
                      "example": "000300"
                    },
                    "indexName": {
                      "type": "string",
                      "description": "指数名称",
                      "example": "沪深300"
                    },
                    "previousClosePrice": {
                      "type": "number",
                      "description": "昨收盘价",
                      "example": 3850.25
                    },
                    "openPrice": {
                      "type": "number",
                      "description": "开盘价",
                      "example": 3860.15
                    },
                    "highPrice": {
                      "type": "number",
                      "description": "最高价",
                      "example": 3880.45
                    },
                    "lowPrice": {
                      "type": "number",
                      "description": "最低价",
                      "example": 3845.3
                    },
                    "closePrice": {
                      "type": "number",
                      "description": "收盘价",
                      "example": 3875.6
                    },
                    "volume": {
                      "type": "number",
                      "description": "成交量",
                      "example": 125000000.0
                    },
                    "tradingAmountCny": {
                      "type": "number",
                      "description": "成交金额（元）",
                      "example": 4850000000.0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/announcements": {
      "get": {
        "tags": [
          "上市公司的公告"
        ],
        "summary": "上市公司的公告",
        "description": "支持通过公告标识、日期范围、股票代码、标题关键词等条件组合查询上市公司公告，返回公告基础信息（标题、发布日期）、内容详情（全文、风险类型）、附件信息（URL、有无附件）等完整字段，适用于金融资讯展示、企业公告管理及数据分析等场景，实现精准高效的公告信息获取与处理。",
        "operationId": "list_announcements",
        "parameters": [
          {
            "name": "beginDate",
            "in": "query",
            "description": "开始日期（格式yyyy-MM-dd）。\n最小值:2020-01-01;",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束日期（格式yyyy-MM-dd）",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-01-02"
            }
          },
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "000001"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "标题（支持模糊查询）",
            "required": false,
            "schema": {
              "type": "string",
              "example": "贵州茅台利润大涨"
            }
          },
          {
            "name": "announcementID",
            "in": "query",
            "description": "公告id",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 9128035
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码。\n最小值:1;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页长。\n最小值:1;\n最大值:500;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "date": {
                      "type": "string",
                      "description": "发布日期（格式yyyy-MM-dd）",
                      "example": "2025-01-15"
                    },
                    "announcementId": {
                      "type": "integer",
                      "description": "公告标识",
                      "format": "int32",
                      "example": 9128035
                    },
                    "stockCode": {
                      "type": "string",
                      "description": "股票代码",
                      "example": "000001"
                    },
                    "stockName": {
                      "type": "string",
                      "description": "股票名称",
                      "example": "平安银行"
                    },
                    "title": {
                      "type": "string",
                      "description": "标题",
                      "example": "同享科技:董事会决议公告"
                    },
                    "hasAttachment": {
                      "type": "integer",
                      "description": "有无附件",
                      "format": "int32",
                      "example": 1,
                      "allOf": [
                        {
                          "type": "integer",
                          "description": "0代表无;\n1代表有",
                          "format": "int32",
                          "enum": [
                            0,
                            1
                          ]
                        }
                      ]
                    },
                    "attachmentUrl": {
                      "type": "string",
                      "description": "附件URL",
                      "example": "https://www.bse.cn/disclosure/2025/2025-01-15/f3973168ca8e4c87a5c434c4a858b9e4.pdf"
                    },
                    "riskType": {
                      "type": "integer",
                      "description": "风险类型",
                      "format": "int32",
                      "example": 0,
                      "allOf": [
                        {
                          "type": "integer",
                          "description": "100000--ST风险;\n110000--产能收缩;\n120000--终止定增;\n130000--质押数据;\n140000--平仓风险;\n151000--监管处罚-立案调查;\n151100--监管处罚-其他处罚;\n160000--限售解禁;\n170000--业绩预告;\n180000--灾害事故;\n191000--增减持公告-减持预披露;\n191100--增减持公告-减持终止;\n191200--增减持公告-减持进展;\n200000--仲裁;\n210000--重组终止;\n220000--资产减值;\n999999--其他;\n230000-上市终止。",
                          "format": "int32",
                          "enum": [
                            "100000--ST风险",
                            "110000--产能收缩",
                            "120000--终止定增",
                            "130000--质押数据",
                            "140000--平仓风险",
                            "151000--监管处罚-立案调查",
                            "151100--监管处罚-其他处罚",
                            "160000--限售解禁",
                            "170000--业绩预告",
                            "180000--灾害事故",
                            "191000--增减持公告-减持预披露",
                            "191100--增减持公告-减持终止",
                            "191200--增减持公告-减持进展",
                            "200000--仲裁",
                            "210000--重组终止",
                            "220000--资产减值",
                            "999999--其他",
                            "230000-上市终止。"
                          ]
                        }
                      ]
                    },
                    "announcementSource": {
                      "type": "string",
                      "description": "公告来源",
                      "example": "北交所"
                    },
                    "announcementContentType": {
                      "type": "string",
                      "description": "公告内容类别代码",
                      "example": "040301"
                    },
                    "guid": {
                      "type": "string",
                      "description": "公告编号",
                      "example": "B761EA4B-7146-436E-9C4E-03CE948A6DD4"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/market/change-ratio-status": {
      "get": {
        "tags": [
          "市场涨跌分布"
        ],
        "summary": "市场涨跌分布",
        "description": "获取当前市场实时涨跌分布数据，包含上涨、下跌和平盘的股票数量，以及涨跌幅不同区间的股票具体数量，如涨停、跌停、涨跌幅超过8%、6%-8%、2%-6%、0%-2%等区间分布，便于大模型全面分析市场热度和情绪。",
        "operationId": "get_market_change_ratio_status",
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间",
                      "example": "2025-06-11 16:45:45"
                    },
                    "upAmount": {
                      "type": "integer",
                      "description": "上涨数量（涨幅>0%）",
                      "format": "int32",
                      "example": 3413
                    },
                    "downAmount": {
                      "type": "integer",
                      "description": "下跌数量（涨幅<0%）",
                      "format": "int32",
                      "example": 1737
                    },
                    "upTopAmount": {
                      "type": "integer",
                      "description": "涨停数量（主板涨幅=10%、创业板、科创板=20%、北交所=30%）",
                      "format": "int32",
                      "example": 71
                    },
                    "upOver8Amount": {
                      "type": "integer",
                      "description": "上涨数量（8%,+∞）",
                      "format": "int32",
                      "example": 35
                    },
                    "upBx68Amount": {
                      "type": "integer",
                      "description": "上涨数量（6%,8%]",
                      "format": "int32",
                      "example": 47
                    },
                    "upBx26Amount": {
                      "type": "integer",
                      "description": "上涨数量（2%,6%]",
                      "format": "int32",
                      "example": 622
                    },
                    "upBx02Amount": {
                      "type": "integer",
                      "description": "上涨数量（0%,2%]",
                      "format": "int32",
                      "example": 2638
                    },
                    "bxAmount": {
                      "type": "integer",
                      "description": "平盘数量（涨幅=0%）",
                      "format": "int32",
                      "example": 244
                    },
                    "downBx02Amount": {
                      "type": "integer",
                      "description": "下跌数量[-2%,0%)",
                      "format": "int32",
                      "example": 1467
                    },
                    "downBx26Amount": {
                      "type": "integer",
                      "description": "下跌数量[-6%,-2%)",
                      "format": "int32",
                      "example": 226
                    },
                    "downBx68Amount": {
                      "type": "integer",
                      "description": "下跌数量[-8%,-6%)",
                      "format": "int32",
                      "example": 16
                    },
                    "downOver8Amount": {
                      "type": "integer",
                      "description": "下跌数量（-∞,-8%）",
                      "format": "int32",
                      "example": 21
                    },
                    "downTopAmount": {
                      "type": "integer",
                      "description": "跌停数量（主板涨幅=-10%、创业板、科创板=-20%、北交所=-30%）",
                      "format": "int32",
                      "example": 7
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/stock-quote/realtime": {
      "get": {
        "tags": [
          "沪深京最新实时日行情"
        ],
        "summary": "沪深京最新实时日行情",
        "description": "获取指定沪深京股票的最新实时行情数据，包含股票当前价格、涨跌幅、开盘价、最高价、最低价、成交量、成交金额等核心数据，同时提供行业代码和行业名称信息，便于大模型进行即时的市场监测和股票分析，单次请求需指定股票代码。时间格式为yyyy-MM-dd HH:mm:ss",
        "operationId": "get_stock_quote_realtime",
        "parameters": [
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "002594"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "stockCode": {
                      "type": "string",
                      "description": "股票代码",
                      "example": "002594"
                    },
                    "stockName": {
                      "type": "string",
                      "description": "股票名称",
                      "example": "比亚迪"
                    },
                    "marketType": {
                      "type": "string",
                      "description": "市场类型(沪-sh、深-sz、京-bj)",
                      "example": "sz"
                    },
                    "openPrice": {
                      "type": "number",
                      "description": "开盘价",
                      "example": 359.89
                    },
                    "closePriceYDay": {
                      "type": "number",
                      "description": "昨日收盘价",
                      "example": 361.99
                    },
                    "currentPrice": {
                      "type": "number",
                      "description": "当前价格",
                      "example": 353.86
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "涨跌幅",
                      "example": -0.02245918
                    },
                    "highPrice": {
                      "type": "number",
                      "description": "最高价",
                      "example": 359.89
                    },
                    "lowPrice": {
                      "type": "number",
                      "description": "最低价",
                      "example": 353.62
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间",
                      "example": "2025-06-12 13:40:21"
                    },
                    "sysTime": {
                      "type": "string",
                      "description": "系统时间",
                      "example": "2025-06-12 13:40:30"
                    },
                    "status": {
                      "type": "string",
                      "description": "状态",
                      "example": "0"
                    },
                    "dealStockAmount": {
                      "type": "integer",
                      "description": "成交股数",
                      "format": "int32",
                      "example": 100071
                    },
                    "dealMoney": {
                      "type": "number",
                      "description": "成交金额",
                      "example": 3563408640.0
                    },
                    "limitUpTime": {
                      "type": "string",
                      "description": "涨停时间"
                    },
                    "limitDownTime": {
                      "type": "string",
                      "description": "跌停时间"
                    },
                    "limitUpPrice": {
                      "type": "number",
                      "description": "涨停价",
                      "example": 398.19
                    },
                    "limitDownPrice": {
                      "type": "number",
                      "description": "跌停价",
                      "example": 325.79
                    },
                    "circulationValue": {
                      "type": "number",
                      "description": "流通市值",
                      "example": 420782222502.59
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "总市值",
                      "example": 1075403847801.6344
                    },
                    "changeRatio1W": {
                      "type": "number",
                      "description": "一周涨跌幅",
                      "example": -0.01561285
                    },
                    "changeRatioB10D": {
                      "type": "number",
                      "description": "10日涨跌幅",
                      "example": -0.01880209
                    },
                    "changeRatioB1M": {
                      "type": "number",
                      "description": "1月涨跌幅"
                    },
                    "industryCode": {
                      "type": "string",
                      "description": "行业代码",
                      "example": "280500"
                    },
                    "industryName": {
                      "type": "string",
                      "description": "行业名称",
                      "example": "乘用车"
                    },
                    "industryLV1Code": {
                      "type": "string",
                      "description": "一级行业代码",
                      "example": "280000"
                    },
                    "industryLV1Name": {
                      "type": "string",
                      "description": "一级行业名称",
                      "example": "汽车"
                    },
                    "dealMoney1W": {
                      "type": "number",
                      "description": "近一周成交额"
                    },
                    "dealStockAmount1W": {
                      "type": "number",
                      "description": "近一周成交量"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/stock-quote/realtime-merge": {
      "get": {
        "tags": [
          "沪深京股票及关联的板块最新实时日行情"
        ],
        "summary": "沪深京股票及关联的板块最新实时日行情",
        "description": "实时查询指定沪深京股票的最新行情数据，包括当前价格、涨跌幅、成交量与成交额等核心数据，以及关联的行业和概念板块的实时指数、涨跌幅、成交量等行情信息，支持单一股票代码查询。",
        "operationId": "get_stock_realtime_quote_merge",
        "parameters": [
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "600839"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "stockRealQuote": {
                      "type": "object",
                      "properties": {
                        "stockCode": {
                          "type": "string",
                          "description": "股票代码",
                          "example": "002594"
                        },
                        "stockName": {
                          "type": "string",
                          "description": "股票名称",
                          "example": "比亚迪"
                        },
                        "marketType": {
                          "type": "string",
                          "description": "市场类型",
                          "example": "sz"
                        },
                        "openPrice": {
                          "type": "number",
                          "description": "开盘价",
                          "example": 359.89
                        },
                        "closePriceYDay": {
                          "type": "number",
                          "description": "昨日收盘价",
                          "example": 361.99
                        },
                        "currentPrice": {
                          "type": "number",
                          "description": "当前价格",
                          "example": 354.59
                        },
                        "changeRatio": {
                          "type": "number",
                          "description": "涨跌幅",
                          "example": -0.02044255
                        },
                        "highPrice": {
                          "type": "number",
                          "description": "最高价",
                          "example": 359.89
                        },
                        "lowPrice": {
                          "type": "number",
                          "description": "最低价",
                          "example": 353.01
                        },
                        "dataTime": {
                          "type": "string",
                          "description": "数据时间",
                          "example": "2025-06-12 13:55:21"
                        },
                        "sysTime": {
                          "type": "string",
                          "description": "系统时间",
                          "example": "2025-06-12 13:55:30"
                        },
                        "status": {
                          "type": "string",
                          "description": "状态",
                          "example": "0"
                        },
                        "dealStockAmount": {
                          "type": "integer",
                          "description": "成交股数",
                          "format": "int32",
                          "example": 110154
                        },
                        "dealMoney": {
                          "type": "number",
                          "description": "成交金额",
                          "example": 3919948288
                        },
                        "limitUpTime": {
                          "type": "string",
                          "description": "涨停时间"
                        },
                        "limitDownTime": {
                          "type": "string",
                          "description": "跌停时间"
                        },
                        "limitUpPrice": {
                          "type": "number",
                          "description": "涨停价",
                          "example": 398.19
                        },
                        "limitDownPrice": {
                          "type": "number",
                          "description": "跌停价",
                          "example": 325.79
                        },
                        "circulationValue": {
                          "type": "number",
                          "description": "流通市值",
                          "example": 420782222502.59
                        },
                        "totalValue": {
                          "type": "number",
                          "description": "总市值",
                          "example": 1077622365552.7318
                        },
                        "changeRatio1W": {
                          "type": "number",
                          "description": "一周涨跌幅",
                          "example": -0.01530726
                        },
                        "changeRatioB10D": {
                          "type": "number",
                          "description": "10日涨跌幅",
                          "example": -0.01849749
                        },
                        "changeRatioB1M": {
                          "type": "number",
                          "description": "1月涨跌幅"
                        },
                        "industryCode": {
                          "type": "string",
                          "description": "行业代码",
                          "example": "280500"
                        },
                        "industryName": {
                          "type": "string",
                          "description": "行业名称",
                          "example": "乘用车"
                        },
                        "industryLV1Code": {
                          "type": "string",
                          "description": "一级行业代码",
                          "example": "280000"
                        },
                        "industryLV1Name": {
                          "type": "string",
                          "description": "一级行业名称",
                          "example": "汽车"
                        }
                      },
                      "description": "股票实时行情数据"
                    },
                    "stockRealPriceExt": {
                      "type": "object",
                      "properties": {
                        "highPriceDate60D": {
                          "type": "string",
                          "description": "60日最高价日期",
                          "example": "2025-05-23 00:00:00"
                        },
                        "highPrice60D": {
                          "type": "number",
                          "description": "60日最高价",
                          "example": 416.98
                        },
                        "highVolumeDate60D": {
                          "type": "string",
                          "description": "60日最高成交量日期",
                          "example": "2025-05-26 00:00:00"
                        },
                        "highVolume60D": {
                          "type": "string",
                          "description": "60日最高成交量",
                          "example": "30955063"
                        },
                        "highTurnoverDate60D": {
                          "type": "string",
                          "description": "60日最高成交额日期",
                          "example": "2025-05-26 00:00:00"
                        },
                        "highTurnover60D": {
                          "type": "number",
                          "description": "60日最高成交额",
                          "example": 12014228946.46
                        }
                      },
                      "description": "股票扩展行情数据"
                    },
                    "industryRealQuote": {
                      "type": "object",
                      "properties": {
                        "industryCode": {
                          "type": "string",
                          "description": "行业代码",
                          "example": "280000"
                        },
                        "industryName": {
                          "type": "string",
                          "description": "行业名称",
                          "example": "汽车"
                        },
                        "price": {
                          "type": "number",
                          "description": "行业指数",
                          "example": 7026.7771
                        },
                        "changeRatio": {
                          "type": "number",
                          "description": "行业涨跌幅",
                          "example": -0.00410459
                        },
                        "volume": {
                          "type": "string",
                          "description": "行业成交量",
                          "example": "48213158"
                        },
                        "currentPrice": {
                          "type": "number",
                          "description": "行业当前价格"
                        },
                        "dataTime": {
                          "type": "string",
                          "description": "数据时间"
                        },
                        "sysTime": {
                          "type": "string",
                          "description": "系统时间"
                        }
                      },
                      "description": "行业实时行情数据"
                    },
                    "conceptRealQuotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conceptCode": {
                            "type": "string",
                            "description": "概念板块代码",
                            "example": "CLS80075"
                          },
                          "conceptName": {
                            "type": "string",
                            "description": "概念板块名称",
                            "example": "苹果产业链"
                          },
                          "changeRatio": {
                            "type": "number",
                            "description": "概念板块涨跌幅",
                            "example": 0.00559586
                          },
                          "changeRatio1W": {
                            "type": "number",
                            "description": "概念板块一周涨跌幅",
                            "example": 0.01541482
                          },
                          "ratioRank": {
                            "type": "integer",
                            "description": "概念板块涨跌幅排名",
                            "format": "int32",
                            "example": 58
                          },
                          "conceptAmount": {
                            "type": "integer",
                            "description": "概念板块成分股数量",
                            "format": "int32",
                            "example": 90
                          },
                          "limitUpAmount": {
                            "type": "integer",
                            "description": "概念板块涨停股数量",
                            "format": "int32",
                            "example": 1
                          },
                          "stockUpAmount": {
                            "type": "integer",
                            "description": "概念板块上涨股数量",
                            "format": "int32",
                            "example": 42
                          },
                          "stockDownAmount": {
                            "type": "integer",
                            "description": "概念板块下跌股数量",
                            "format": "int32",
                            "example": 46
                          },
                          "stockBxAmount": {
                            "type": "integer",
                            "description": "概念板块平盘股数量",
                            "format": "int32",
                            "example": 2
                          },
                          "leadUpStockCode": {
                            "type": "string",
                            "description": "概念板块领涨股代码",
                            "example": "600366"
                          },
                          "leadUpStockName": {
                            "type": "string",
                            "description": "概念板块领涨股名称",
                            "example": "宁波韵升"
                          },
                          "totalValue": {
                            "type": "number",
                            "description": "概念板块总市值",
                            "example": 3164202635495.424
                          },
                          "dataTime": {
                            "type": "string",
                            "description": "数据时间",
                            "example": "2025-06-12 13:54:54"
                          }
                        },
                        "description": "概念板块实时行情数据"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/industry-quote/realtime": {
      "get": {
        "tags": [
          "行业的最新实时日行情"
        ],
        "summary": "行业的最新实时日行情",
        "description": "输入行业代码，获取该行业的最新实时指数、涨跌幅、成交量、总市值、成分股数量、涨停/上涨/下跌/平盘/总股数、涨跌幅排名、领涨股等关键行情数据，用于实时跟踪行业整体表现。",
        "operationId": "get_industry_realtime_quote",
        "parameters": [
          {
            "name": "industryCode",
            "in": "query",
            "description": "行业代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "330000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "industryCode": {
                      "type": "string",
                      "description": "行业代码",
                      "example": "740000"
                    },
                    "industryName": {
                      "type": "string",
                      "description": "行业名称",
                      "example": "煤炭"
                    },
                    "price": {
                      "type": "number",
                      "description": "行业指数",
                      "example": 2549.1562
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "行业涨跌幅",
                      "example": -0.0121602
                    },
                    "volume": {
                      "type": "integer",
                      "description": "行业成交量",
                      "format": "int32",
                      "example": 9547379
                    },
                    "changeRatio1W": {
                      "type": "number",
                      "description": "行业一周涨跌幅",
                      "example": -0.00646898
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "行业总市值",
                      "example": 1756873387871.2708
                    },
                    "ratioRank": {
                      "type": "integer",
                      "description": "行业涨跌幅排名",
                      "format": "int32",
                      "example": 31
                    },
                    "industryAmount": {
                      "type": "integer",
                      "description": "行业成分股数量",
                      "format": "int32",
                      "example": 31
                    },
                    "limitUpAmount": {
                      "type": "integer",
                      "description": "行业涨停股数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockUpAmount": {
                      "type": "integer",
                      "description": "行业上涨股数量",
                      "format": "int32",
                      "example": 1
                    },
                    "stockDownAmount": {
                      "type": "integer",
                      "description": "行业下跌股数量",
                      "format": "int32",
                      "example": 32
                    },
                    "stockBxAmount": {
                      "type": "integer",
                      "description": "行业平盘股数量",
                      "format": "int32",
                      "example": 4
                    },
                    "stockAmount": {
                      "type": "integer",
                      "description": "行业股票总数",
                      "format": "int32",
                      "example": 37
                    },
                    "leadUpStockCode": {
                      "type": "string",
                      "description": "行业领涨股代码",
                      "example": ""
                    },
                    "leadUpStockName": {
                      "type": "string",
                      "description": "行业领涨股名称",
                      "example": ""
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/industry-quote/stock-realtime": {
      "get": {
        "tags": [
          "行业及关联成分股的最新实时日行情"
        ],
        "summary": "行业及关联成分股的最新实时日行情",
        "description": "输入行业代码，获取该行业的最新整体行情（包括指数、涨跌幅、成交量、总市值、成分股数量、涨跌幅排名、领涨股等）以及所有关联成分股的实时行情明细（包括股票代码、名称、开盘价、当前价、涨跌幅、最高/最低价等），用于全面分析行业及其成分股的最新市场表现。",
        "operationId": "get_industry_stock_realtime_quote",
        "parameters": [
          {
            "name": "industryCode",
            "in": "query",
            "description": "行业代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "330000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "industryCode": {
                      "type": "string",
                      "description": "行业代码",
                      "example": "740000"
                    },
                    "industryName": {
                      "type": "string",
                      "description": "行业名称",
                      "example": "煤炭"
                    },
                    "price": {
                      "type": "number",
                      "description": "行业指数",
                      "example": 2549.1562
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "行业涨跌幅",
                      "example": -0.0121602
                    },
                    "volume": {
                      "type": "string",
                      "description": "行业成交量",
                      "example": "9547379"
                    },
                    "changeRatio1W": {
                      "type": "number",
                      "description": "行业一周涨跌幅",
                      "example": -0.00646898
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "行业总市值",
                      "example": 1756873387871.2708
                    },
                    "ratioRank": {
                      "type": "integer",
                      "description": "行业涨跌幅排名",
                      "format": "int32",
                      "example": 31
                    },
                    "industryAmount": {
                      "type": "integer",
                      "description": "行业成分股数量",
                      "format": "int32",
                      "example": 31
                    },
                    "limitUpAmount": {
                      "type": "integer",
                      "description": "行业涨停股数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockUpAmount": {
                      "type": "integer",
                      "description": "行业上涨股数量",
                      "format": "int32",
                      "example": 1
                    },
                    "stockDownAmount": {
                      "type": "integer",
                      "description": "行业下跌股数量",
                      "format": "int32",
                      "example": 32
                    },
                    "stockBxAmount": {
                      "type": "integer",
                      "description": "行业平盘股数量",
                      "format": "int32",
                      "example": 4
                    },
                    "stockAmount": {
                      "type": "integer",
                      "description": "行业股票总数",
                      "format": "int32",
                      "example": 37
                    },
                    "leadUpStockCode": {
                      "type": "string",
                      "description": "行业领涨股代码",
                      "example": ""
                    },
                    "leadUpStockName": {
                      "type": "string",
                      "description": "行业领涨股名称",
                      "example": ""
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间"
                    },
                    "stockRealQuotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stockCode": {
                            "type": "string",
                            "description": "股票代码",
                            "example": "600397"
                          },
                          "stockName": {
                            "type": "string",
                            "description": "股票名称",
                            "example": "安源煤业"
                          },
                          "marketType": {
                            "type": "string",
                            "description": "市场类型",
                            "example": "sh"
                          },
                          "openPrice": {
                            "type": "number",
                            "description": "开盘价",
                            "example": 6.48
                          },
                          "closePriceYDay": {
                            "type": "number",
                            "description": "昨日收盘价",
                            "example": 6.5
                          },
                          "currentPrice": {
                            "type": "number",
                            "description": "当前价格",
                            "example": 6.29
                          },
                          "changeRatio": {
                            "type": "number",
                            "description": "涨跌幅",
                            "example": -0.03230769
                          },
                          "highPrice": {
                            "type": "number",
                            "description": "最高价",
                            "example": 6.48
                          },
                          "lowPrice": {
                            "type": "number",
                            "description": "最低价",
                            "example": 6.16
                          },
                          "dataTime": {
                            "type": "string",
                            "description": "数据时间",
                            "example": "2025-06-12 14:43:20"
                          },
                          "sysTime": {
                            "type": "string",
                            "description": "系统时间",
                            "example": "2025-06-12 14:43:30"
                          },
                          "status": {
                            "type": "string",
                            "description": "状态",
                            "example": "0"
                          }
                        },
                        "description": "股票实时行情数据列表"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/concept-quote/realtime": {
      "get": {
        "tags": [
          "概念的最新实时日行情"
        ],
        "summary": "概念的最新实时日行情",
        "description": "输入概念类型（如聚源、财联社）和概念代码，获取该概念板块的最新实时行情数据，包括板块名称、涨跌幅、一周涨跌幅、总市值、成分股数量、涨停/上涨/下跌/平盘股数、涨跌幅排名、领涨股信息等关键指标，便于追踪特定市场热点板块表现。",
        "operationId": "get_concept_realtime_quote",
        "parameters": [
          {
            "name": "conceptType",
            "in": "query",
            "description": "概念类型(jy-聚源、cls-财联社)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "jy"
            }
          },
          {
            "name": "conceptCode",
            "in": "query",
            "description": "概念代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "14060061"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "conceptCode": {
                      "type": "string",
                      "description": "概念板块代码",
                      "example": "14060061"
                    },
                    "conceptName": {
                      "type": "string",
                      "description": "概念板块名称",
                      "example": "磷酸铁"
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "概念板块涨跌幅",
                      "example": -0.00740056
                    },
                    "changeRatio1W": {
                      "type": "number",
                      "description": "概念板块一周涨跌幅",
                      "example": -0.00371402
                    },
                    "ratioRank": {
                      "type": "integer",
                      "description": "概念板块涨跌幅排名（排名值越小涨幅越大）",
                      "format": "int32",
                      "example": 966
                    },
                    "conceptAmount": {
                      "type": "integer",
                      "description": "概念板块成分股数量",
                      "format": "int32",
                      "example": 1
                    },
                    "limitUpAmount": {
                      "type": "integer",
                      "description": "概念板块涨停股数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockUpAmount": {
                      "type": "integer",
                      "description": "概念板块上涨股数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockDownAmount": {
                      "type": "integer",
                      "description": "概念板块下跌股数量",
                      "format": "int32",
                      "example": 1
                    },
                    "stockBxAmount": {
                      "type": "integer",
                      "description": "概念板块平盘股数量",
                      "format": "int32",
                      "example": 0
                    },
                    "leadUpStockCode": {
                      "type": "string",
                      "description": "概念板块领涨股代码",
                      "example": ""
                    },
                    "leadUpStockName": {
                      "type": "string",
                      "description": "概念板块领涨股名称",
                      "example": ""
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "概念板块总市值",
                      "example": 2307164588.474928
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间",
                      "example": "2025-06-12 15:10:06"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/concept-quote/stock-realtime": {
      "get": {
        "tags": [
          "概念及关联成分股的最新实时日行情"
        ],
        "summary": "概念及关联成分股的最新实时日行情",
        "description": "获取指定概念板块的最新实时行情，包括概念名称、涨跌幅、一周涨跌幅、总市值、涨跌幅排名、成分股数量、涨停/上涨/下跌/平盘股数、领涨股信息等，以及该概念下所有成分股的实时行情（如股票代码、名称、市场、开盘价、当前价、涨跌幅、最高/最低价等），用于快速洞察概念整体及其成分股的最新市场表现。",
        "operationId": "get_concept_stock_realtime_quote",
        "parameters": [
          {
            "name": "conceptType",
            "in": "query",
            "description": "概念类型(jy-聚源、cls-财联社)\"",
            "required": true,
            "schema": {
              "type": "string",
              "example": "jy"
            }
          },
          {
            "name": "conceptCode",
            "in": "query",
            "description": "概念代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "14060061"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "conceptCode": {
                      "type": "string",
                      "description": "概念编码",
                      "example": "14060061"
                    },
                    "conceptName": {
                      "type": "string",
                      "description": "概念名称",
                      "example": "磷酸铁"
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "涨跌幅",
                      "example": -0.00740056
                    },
                    "changeRatio1W": {
                      "type": "number",
                      "description": "一周涨跌幅",
                      "example": -0.00371402
                    },
                    "ratioRank": {
                      "type": "integer",
                      "description": "涨跌幅排名",
                      "format": "int32",
                      "example": 966
                    },
                    "conceptAmount": {
                      "type": "integer",
                      "description": "概念包含股票数量",
                      "format": "int32",
                      "example": 1
                    },
                    "limitUpAmount": {
                      "type": "integer",
                      "description": "涨停股票数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockUpAmount": {
                      "type": "integer",
                      "description": "上涨股票数量",
                      "format": "int32",
                      "example": 0
                    },
                    "stockDownAmount": {
                      "type": "integer",
                      "description": "下跌股票数量",
                      "format": "int32",
                      "example": 1
                    },
                    "stockBxAmount": {
                      "type": "integer",
                      "description": "平盘股票数量",
                      "format": "int32",
                      "example": 0
                    },
                    "leadUpStockCode": {
                      "type": "string",
                      "description": "领涨股票代码",
                      "example": ""
                    },
                    "leadUpStockName": {
                      "type": "string",
                      "description": "领涨股票名称",
                      "example": ""
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "总市值",
                      "example": 2307164588.474928
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间",
                      "example": "2025-06-12 15:10:06"
                    },
                    "stockRealQuotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "stockCode": {
                            "type": "string",
                            "description": "股票代码",
                            "example": "002136"
                          },
                          "stockName": {
                            "type": "string",
                            "description": "股票名称",
                            "example": "安 纳 达"
                          },
                          "marketType": {
                            "type": "string",
                            "description": "市场类型",
                            "example": "sz"
                          },
                          "openPrice": {
                            "type": "integer",
                            "description": "开盘价",
                            "format": "int32"
                          },
                          "closePriceYDay": {
                            "type": "integer",
                            "description": "昨日收盘价",
                            "format": "int32"
                          },
                          "currentPrice": {
                            "type": "integer",
                            "description": "当前价格",
                            "format": "int32"
                          },
                          "changeRatio": {
                            "type": "integer",
                            "description": "涨跌幅",
                            "format": "int32"
                          },
                          "highPrice": {
                            "type": "integer",
                            "description": "最高价",
                            "format": "int32"
                          },
                          "lowPrice": {
                            "type": "integer",
                            "description": "最低价",
                            "format": "int32"
                          },
                          "dataTime": {
                            "type": "string",
                            "description": "数据时间",
                            "example": "2025-06-12 15:03:00"
                          },
                          "sysTime": {
                            "type": "string",
                            "description": "系统时间",
                            "example": "2025-06-12 15:09:30"
                          },
                          "status": {
                            "type": "string",
                            "description": "状态",
                            "example": "0"
                          }
                        },
                        "description": "股票实时行情数据"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/trade-calender/special-date/cn/list": {
      "get": {
        "tags": [
          "交易日历列表"
        ],
        "summary": "交易日历列表",
        "description": "返回指定周期内的A股市场交易日列表，支持近一个月（M1）、近三个月（M3）、近六个月（M6）和近一年（Y1，默认），日期格式统一为yyyy-MM-dd。",
        "operationId": "get_cn_trade_calender_list",
        "parameters": [
          {
            "name": "cycle",
            "in": "query",
            "description": "周期",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Y1",
              "allOf": [
                {
                  "type": "string",
                  "description": "M1代表近一月;\nM3代表近三月;\nM6代表近六月;\nY1代表近一年;",
                  "enum": [
                    "M1",
                    "M3",
                    "M6",
                    "Y1"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "description": "日期列表(格式yyyy-MM-dd)",
                      "example": "2025-06-13",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/index-quote/realtime": {
      "post": {
        "tags": [
          "指数最新实时日行情"
        ],
        "summary": "指数最新实时日行情",
        "description": "使用指数代码获取指定指数的最新实时行情数据，包含指数当前价格、涨跌幅、开盘价、最高价、最低价、成交量、成交金额等核心数据，便于大模型进行即时的市场监测和指数分析。",
        "operationId": "get_index_realtime_quotes",
        "requestBody": {
          "description": "使用指数代码获取指定指数的最新实时行情数据，包含指数当前价格、涨跌幅、开盘价、最高价、最低价、成交量、成交金额等核心数据，便于大模型进行即时的市场监测和指数分析。",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "indexCodes"
                ],
                "type": "object",
                "properties": {
                  "indexCodes": {
                    "type": "array",
                    "description": "指数代码",
                    "example": [
                      "000001",
                      "399006"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "indexCode": {
                      "type": "string",
                      "description": "指数代码",
                      "example": "000001"
                    },
                    "industryName": {
                      "type": "string",
                      "description": "指数名称",
                      "example": "上证指数"
                    },
                    "openPrice": {
                      "type": "number",
                      "description": "开盘价",
                      "example": 3369.3662
                    },
                    "closePriceYDay": {
                      "type": "number",
                      "description": "昨日收盘价",
                      "example": 3376.9961
                    },
                    "currentPrice": {
                      "type": "number",
                      "description": "当前价格",
                      "example": 3385.1443
                    },
                    "changeRatio": {
                      "type": "number",
                      "description": "涨跌幅",
                      "example": 0.00241285
                    },
                    "highPrice": {
                      "type": "number",
                      "description": "最高价",
                      "example": 3385.5259
                    },
                    "lowPrice": {
                      "type": "number",
                      "description": "最低价",
                      "example": 3368.8765
                    },
                    "dealStockAmount": {
                      "type": "string",
                      "description": "成交股数",
                      "example": "335443869"
                    },
                    "dealMoney": {
                      "type": "string",
                      "description": "成交金额",
                      "example": "401388535808"
                    },
                    "dataTime": {
                      "type": "string",
                      "description": "数据时间",
                      "example": "2025-06-16 14:14:39"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/industries": {
      "get": {
        "tags": [
          "行业列表"
        ],
        "summary": "行业列表",
        "description": "通过行业名称（支持模糊匹配）或行业类型（指定行业体系）查询行业列表，返回行业代码、名称、类型、等级及对应的行业指数代码，便于构建行业分类体系或进行行业分析。",
        "operationId": "list_industries",
        "parameters": [
          {
            "name": "industryCode",
            "in": "query",
            "description": "行业代码",
            "required": false,
            "schema": {
              "type": "string",
              "example": "740000"
            }
          },
          {
            "name": "industryName",
            "in": "query",
            "description": "行业名称(模糊匹配)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "煤炭"
            }
          },
          {
            "name": "industryType",
            "in": "query",
            "description": "行业类型(指定行业体系)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "INDUS4_CL",
              "allOf": [
                {
                  "type": "string",
                  "description": "INDUS2_CL-证监会行业体系;\nINDUS3_CL-今日投资行业体系;\nINDUS4_CL-申万行业体系;\nINDUS5_CL-中信行业体系;\nINDUS6_CL-通达信行业体系;\nINDUS8_CL-中证行业体系",
                  "enum": [
                    "INDUS2_CL-证监会行业体系",
                    "INDUS3_CL-今日投资行业体系",
                    "INDUS4_CL-申万行业体系",
                    "INDUS5_CL-中信行业体系",
                    "INDUS6_CL-通达信行业体系",
                    "INDUS8_CL-中证行业体系"
                  ]
                }
              ]
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码。\n最小值:1;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页长。\n最小值:1;\n最大值:500;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "industryCode": {
                      "type": "string",
                      "description": "行业代码",
                      "example": "10"
                    },
                    "industryName": {
                      "type": "string",
                      "description": "行业名称",
                      "example": "能源"
                    },
                    "industryType": {
                      "type": "string",
                      "description": "行业类型",
                      "example": "INDUS1_CL",
                      "allOf": [
                        {
                          "type": "string",
                          "description": "INDUS2_CL-证监会行业体系;\nINDUS3_CL-今日投资行业体系;\nINDUS4_CL-申万行业体系;\nINDUS5_CL-中信行业体系;\nINDUS6_CL-通达信行业体系;\nINDUS8_CL-中证行业体系",
                          "enum": [
                            "INDUS2_CL-证监会行业体系",
                            "INDUS3_CL-今日投资行业体系",
                            "INDUS4_CL-申万行业体系",
                            "INDUS5_CL-中信行业体系",
                            "INDUS6_CL-通达信行业体系",
                            "INDUS8_CL-中证行业体系"
                          ]
                        }
                      ]
                    },
                    "industryLevel": {
                      "type": "string",
                      "description": "行业等级",
                      "example": "1",
                      "allOf": [
                        {
                          "type": "string",
                          "description": "1代表一级;2代表二级;3代表三级",
                          "enum": [
                            "1",
                            "2",
                            "3"
                          ]
                        }
                      ]
                    },
                    "indexCode": {
                      "type": "string",
                      "description": "行业指数代码",
                      "example": "399001"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/concepts": {
      "get": {
        "tags": [
          "概念列表"
        ],
        "summary": "概念列表",
        "description": "概念列表",
        "operationId": "list_concepts",
        "parameters": [
          {
            "name": "conceptName",
            "in": "query",
            "description": "概念名称",
            "required": false,
            "schema": {
              "type": "string",
              "example": "次新股"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码。\n最小值:1;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页长。\n最小值:1;\n最大值:500;",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "conceptCode": {
                      "type": "string",
                      "description": "概念代码",
                      "example": "001"
                    },
                    "conceptName": {
                      "type": "string",
                      "description": "概念名称",
                      "example": "次新股"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求"
          },
          "500": {
            "description": "服务器内部错误"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/stock/basic-info": {
      "get": {
        "tags": [
          "股票基本信息"
        ],
        "summary": "股票基本信息",
        "description": "通过股票代码查询股票的基本信息，包括股票名称、行业代码、发行日期、上市日期、证券标识、上市状态、板块代码、退市日期、外资行业分类、交易所行业分类、今日投资行业分类、申万行业分类、中信行业分类、通达信行业分类等多级行业分类信息，适用于股票信息查询和行业分析。",
        "operationId": "get_stock_basic_info",
        "parameters": [
          {
            "name": "stockCode",
            "in": "query",
            "description": "股票代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "000001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应状态码",
                      "format": "int32",
                      "example": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息",
                      "example": "success"
                    },
                    "stockCode": {
                      "type": "string",
                      "description": "股票代码",
                      "example": "601881"
                    },
                    "exchangeCode": {
                      "type": "string",
                      "description": "市场类型",
                      "example": "SH",
                      "allOf": [
                        {
                          "type": "string",
                          "description": "SH代表上海;\nSZ代表深圳;\nBJ代表北京",
                          "enum": [
                            "SH",
                            "SZ",
                            "BJ"
                          ]
                        }
                      ]
                    },
                    "boardName": {
                      "type": "string",
                      "description": "上市板块",
                      "example": "主板"
                    },
                    "stockName": {
                      "type": "string",
                      "description": "股票名称",
                      "example": "中国银河"
                    },
                    "stockFullName": {
                      "type": "string",
                      "description": "证券全称",
                      "example": "中国银河证券股份有限公司"
                    },
                    "listStatus": {
                      "type": "integer",
                      "description": "上市状态",
                      "format": "int32",
                      "example": 1,
                      "allOf": [
                        {
                          "type": "integer",
                          "description": "0代表发行待流通;\n1代表首次流通;\n2代表转换后流通;\n3代表暂停后恢复流通;\n4代表暂停流通;\n5代表终止流通（包括到期或被转换的自然终止情况）;\n6代表特别处理;\n7代表撤销特别处理;\n8代表退市整理期;\n9代表其他",
                          "format": "int32",
                          "enum": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8,
                            9
                          ]
                        }
                      ]
                    },
                    "listDate": {
                      "type": "string",
                      "description": "上市日期",
                      "example": "2017-01-23 00:00:00"
                    },
                    "delistDate": {
                      "type": "string",
                      "description": "摘牌日期",
                      "example": "2023-08-15"
                    },
                    "stockType": {
                      "type": "string",
                      "description": "股票类别",
[...]
